.portfolio-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.video-container{
    height: 603px;
    width:981px;
    margin-top:284px;
}

.heading-block{
    height:104px;
    width:364px;
    text-align: center;
    margin-top: 120px;

}

