@import url('https://fonts.googleapis.com/css2?family=Halant:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');

.services-container {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 70px;
    align-items: center;
}   
.heading {
    margin-top: 100px;
    font-size: 32px;
    font-weight: 100;
    color: #333;
    text-align: center;
}
.heading p{
    font-family: 'Halant', serif;
    margin: 0;
    padding: 0;
}
.services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
.service-card {
    position: relative;
    height: 400px;
    width: 300px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.service-card .pic{

    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;

}
.service-card .tape1{
    position: absolute;
    top:-20px;
    left: -40px;
    height: 70px;
    width: auto;
    object-fit: cover;
    border-radius: 6px;
}
.service-card .tape2{
    position: absolute;
    top:-20px;
    left: 90px;
    height: 70px;
    width: auto;
    object-fit: cover;
    border-radius: 6px;
}
.service-card .tape3{
    position: absolute;
    top:-20px;
    left: 250px;
    height: 70px;
    width: auto;
    object-fit: cover;
    border-radius: 6px;
    transform: rotate(40deg);
}
.underline{
    position: relative;
    top:-16px;
    width: 700px;
}
.service-card:nth-child(1) {

    transform: rotate(10deg);
}

.service-card:nth-child(2){
    margin-top: 100px;
}
.service-card:nth-child(3) {
    transform: rotate(-10deg);
}

.flm-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.flm-container .content {
    display: flex;
    gap: 40px;
    width: 40%;
    flex-wrap: wrap;
    justify-content: center;
}
.fcard {
    position: relative;
    height: 400px;
    width: 300px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.fcard .flmpimg{
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.text-content{
    margin-top: 20px;
    font-family: 'Instrument Sans', sans-serif;
    font-size: 28px;
    font-weight: 300;
    width: 600px;
    color: #333;

}
.fc1{
    position: absolute;
    height: 100px;
    top:200px;
    left:1350px;
    object-fit: cover;
}
.fc2{
    position: absolute;
    top: 450px;
    left: 1200px;
    height: 80px;
    object-fit: cover;
}
.fc3{
    position: absolute;
    top: 600px;
    left: 100px;
    height: 100px;
    object-fit: cover;
}
.fc4{
    position: absolute;
    top: 620px;
    left: 1260px;
    height: 150px;
    object-fit: cover;
}
.arrow{ 
    width: 150px;
    padding: 0;
    margin: 0;
}
.film-production {
    height: 100vh;
}
.explore-btn{
    position: relative;
    left: 650px;
    top:30px;
}
.explore-btn p{
    padding: 0;
    font-family: 'Halant', serif;
    font-size: 24px;
    font-weight: 400;
    margin-right: 10px;
}
.back-btn{
    position: absolute;
    top: 100px;
    left: 30px;
    font-family: 'Instrument Sans', sans-serif;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: transparent;
    color: orangered;
    border: orangered 1px solid;
    cursor: pointer;
}